body {
    background-image: url('/static/img/log.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Fix the background image */
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    min-height: 100vh;
}

.navbar {
    background-color: #ca4f4dcd;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    font-weight: bold;
    position: fixed;
    margin: 0;
    width: 100%; /* Make the navbar full width */
    top: 0; /* Stick the navbar to the top */
    z-index: 1000; /* Ensure the navbar is on top of other elements */
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 40px; /* Adjust the height as needed */
    margin-left: 20px;
}

.nav-links ul {
    list-style: none;
    margin-right: 20px;
    padding: 0;
}

.nav-links ul li {
    display: inline;
    padding-right: 10px;
}

.nav-links ul li a {
    color: #0b0b0b;
    text-decoration: none;
}

.sidebar {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 180px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #D9D9D9;
    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 8px;
    padding-top: 50px;
}

.sidebar h5 {
    font-size: 12px;
    color: #000000;
    text-align: left;
    margin-bottom: 2px;
}

.sidebar ul {
    font-size: 11px;
    list-style-type: none;
    padding: 0;
    margin: -5px;
}

.sidebar ul li {
    padding: 5px;
}

.sidebar ul li a {
    display: block;
    color: #000000;
    text-decoration: none;
}

.sidebar ul li a:hover {
    background-color: rgb(185, 185, 185);
}

.container {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    position: relative;
    display: block;
}

.headline {
    display: flex; /* Activates Flexbox layout */
    justify-content: center; /* Centers children horizontally */
    align-items: center; /* Centers children vertically */
    text-align: center; /* Centers text for block elements, useful if the <h1> breaks into multiple lines */
    flex-direction: row; /* Lays out children in a horizontal line */
    gap: 10%; /* Optional: adds space between the flex items */
    /* Use the following properties if you want to center the .headline itself */
    width: 100%; /* Makes the .headline div take up 100% of the width of its parent */
    /* height: 100vh; Optional: Makes the .headline div take up 100% of the viewport height if you want to center it vertically as well */    
    height: 15vh;
}

.headline img {
    width: 80px; /* Example width, adjust as needed */
}

.headline-1{
    display: block;
}

.headline h1 {
    margin: 0; /* Removes default margin from the h1 element */
    /* Add more styling to your h1 as needed */
}


.score-display {    
    height: 55vh;
    font-size: 400px;
    color: #ffffff;
    text-align: center;
    width: 100%; /* Ensures the score display spans the full width of its container */
}

/* Optional: Adjust the line height if needed to control the vertical spacing */
.score-display span {
    line-height: 1; /* Adjust based on actual needs */
}

/* Ensure the body has no margin to prevent any unexpected spacing */
body {
    margin: 0;
    /* Add any additional resets or global styles as needed */
}



.red-team {
    background-color: #FF2525;
    display: block;
}

.team {
    height: 85vh;
    width: 100%;
}

.red-team .player-display {
    color: #ffffff;
    font-size: 28px;
    padding: 5px;
}


/* Middle section */
.middle-section {
    text-align: center; 
    justify-items: center;
    padding: 10px;
    margin-top: -30vh;
}

.judges-info {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Ensures the container spans the full width */
    margin-top: auto; /* Pushes the container to the bottom */
    gap: 0; /* Ensures no gap between items */
}

.judges-info .info-field {
    flex: 1; /* Ensures equal width distribution among children */
    text-align: center; /* Centers the text of each info field */
    margin-top: 100px; /* Ensures no margin around each info field */
    color: #ffffff;
}

/* Additional styling for the labels and spans to ensure they are visible and legible */
.judges-info label {
    display: block; /* Makes label and span stack vertically */
    margin: 0; /* Removes default margin */
    padding: 10px 0; /* Adds some padding for better legibility */
    font-size: 20px;
    white-space: nowrap;
    border: solid 1.5px #ffffff;
}

.judges-info span {
    display: block; /* Makes label and span stack vertically */
    margin: 0; /* Removes default margin */
    padding: 13px 0; /* Adds some padding for better legibility */
    font-size: 40px;
    border: solid 1.5px #ffffff;
}
.time-info{
    margin: 0 auto;
    margin-bottom: 70px;
    width: 150px;
    border: solid 2px black;
    position: relative;
    background-color: #f0f0f0;
    font-size: 40px;
    display: block; /* Makes the span element display as a block element */
}

.time-info label{
    font-size: 20px;
    display: block;
    padding: 5px;
}

.time-info span{
    font-size: 40px;
    display: block;
    padding: 10px;
}


.middle-section .bold-horizontal-line {
    margin: 0;
    border-top: 2px solid; /* Adjust the thickness here */
}


h1 {
    font-size: 60px;
    padding: 0;
    white-space: nowrap;
}
  

