body {
    background-image: url('/static/img/log.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Fix the background image */
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    min-height: 100vh;
}

.navbar {
    background-color: #ca4f4dcd;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    font-weight: bold;
    position: fixed;
    margin: 0;
    width: 100%; /* Make the navbar full width */
    top: 0; /* Stick the navbar to the top */
    z-index: 1000; /* Ensure the navbar is on top of other elements */
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 40px; /* Adjust the height as needed */
    margin-left: 20px;
}

.nav-links ul {
    list-style: none;
    margin-right: 20px;
    padding: 0;
}

.nav-links ul li {
    display: inline;
    padding-right: 10px;
}

.nav-links ul li a {
    color: #0b0b0b;
    text-decoration: none;
}

.sidebar {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 180px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #D9D9D9;
    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 8px;
    padding-top: 50px;
}

.sidebar h5 {
    font-size: 12px;
    color: #000000;
    text-align: left;
    margin-bottom: 2px;
}

.sidebar ul {
    font-size: 11px;
    list-style-type: none;
    padding: 0;
    margin: -5px;
}

.sidebar ul li {
    padding: 5px;
}

.sidebar ul li a {
    display: block;
    color: #000000;
    text-decoration: none;
}

.sidebar ul li a:hover {
    background-color: rgb(185, 185, 185);
}



.container-1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    display: flex;
    z-index: -3;  
    height: 70vh;
}

.container {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    position: relative;
}

.headline {
    display: flex; /* Activates Flexbox layout */
    justify-content: center; /* Centers children horizontally */
    align-items: center; /* Centers children vertically */
    text-align: center; /* Centers text for block elements, useful if the <h1> breaks into multiple lines */
    flex-direction: row; /* Lays out children in a horizontal line */
    gap: 10%; /* Optional: adds space between the flex items */
    /* Use the following properties if you want to center the .headline itself */
    width: 100%; /* Makes the .headline div take up 100% of the width of its parent */
    height: 21vh;
}

.timeout-used {
    border: solid 2px #ffffff;
    position: relative;
    width: 120px;
    margin-top: -59px;
    text-align: center;
    color: #ffffff;
}

.timeout-used span{
    font-size: 50px;
    color: #ffffff;
}

.player2-team .timeout-used {
    border: solid 2px #ffffff;
    position: relative;
    width: 120px;
    margin-top: -59px;
    text-align: center;    
    left: 83.9%; /* Reset any existing left positioning */
}


.headline img {
    width: 100px; /* Example width, adjust as needed */
}

.headline-1{
    display: block;
}

.headline h1{
    margin-bottom: 0px;
    /* Add more styling to your h1 as needed */
}

.headline h4{
    margin-top: 5px;
    margin-bottom: 5px;
    letter-spacing: 2px;
}


.headline h4:first-of-type {
    color: red; /* Change the color as desired */
}

/* Input fields */
.input-fields {
    width: 30%; /* Adjust the width as needed */
    font-size: 25px;
    text-align: center;
    margin: 0 auto; /* This centers the div */
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 0;
}

.info-field {
    margin-bottom: 5px; /* Adds spacing between each info field, adjust as needed */
    display: flex;    
    align-items: center;
}

/* Additional optional styling */
.info-field label, .info-field span {
    display: block; /* Makes label and span stack vertically */
    white-space: nowrap;
    margin-right: 10px;
}
.input-fields span {
    font-weight: bolder;
}

.team .info-field {
    padding: 10px;  
    padding-bottom: 0; 
    align-items: center;
    color: #ffffff;
}

/* Additional styling for labels and spans */
.info-field label {
    font-weight: bold; /* Example: Makes the labels bold */
}


.team .info-field label {
    font-size: 16px;
    color: #ffffff;
}
.team .info-field span {
    font-size: 20px;
    color: #ffffff;
}


.player1-team {
    background-color: red;
}

.score-display {
    height: 50.5vh;
    color: #ffffff;
}

.team {
    height: 79vh;
    width: 100%;
    border-left: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
}

.player2-team {
    background-color: blue;
}

.score-info .info-field .score-display span {
    font-size: 370px; /* Adjust the font size as needed */
    color: #ffffff;
    /* Additional styles here */
}

.score-info .info-field .score-display {
    color: #ffffff;
    text-align: center; /* Centers text of child elements, including <span> */
    /* Ensure .score-display block takes full width if necessary */
    width: 100%; /* Optional, adjust based on your layout needs */
}


.highlighted {
    background-color: yellow;
}

/* Middle section */
.middle-section {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center; 
    justify-items: center;
    padding: 10px;
    margin-top: -50vh;
}

.time-info{
    margin: 0 auto;
    margin-bottom: 70px;
    width: 150px;
    border: solid 2px #000000;
    position: relative;
    background-color: #f0f0f0;
    font-size: 40px;
    display: block; /* Makes the span element display as a block element */
}

.time-info label{
    font-size: 20px;
    display: block;
    padding: 5px;
}

.time-info span{
    font-size: 40px;
    display: block;
    padding: 10px;
}

.set-info {
    margin: 0 auto;
    width: 120px;
    padding-top: 5px;
    padding-bottom: 5px ;
    border: solid 2px #000000;
    position: relative;
    background-color: #f0f0f0;
    font-size: 30px;
    display: block; /* Makes the span element display as a block element */
}

.set-info label {
    display: block; /* Ensures label occupies its own line */
    font-size: 20px;
    padding: -5px;
    /* Additional label styles */
}

.set-info span {
    font-size: 40px;
    display: block; /* Makes the span a block-level element */
    padding: 5px;
    /* Additional span styles */
}

.middle-section .bold-horizontal-line {
    margin: 0;
    border-top: 2px solid #000000; /* Adjust the thickness here */
}

.bold-horizontal-line {
    border-top: 2px solid #ffffff; /* Adjust the thickness here */
}

.additional-info {
    margin-top: 0;
    height: 10vh;
    text-align: center;
    display: flex;
    justify-content: space-between; /* Adjust this as needed */
    align-items: center; /* Align items vertically */
    flex-wrap: wrap; /* Allows items to wrap if not enough space */
    /* Add other styling as needed, such as padding or margin */
}


.additional-info .info-field{
    border: solid 2px #ffffff;
    text-align: center;
    display: inline-block;
    justify-content: space-between; /* Adjust this as needed */
    align-items: center; /* Align items vertically */
    flex-wrap: wrap; /* Allows items to wrap if not enough space */
    /* Add other styling as needed, such as padding or margin */
}

.additional-info .info-field label{
    font-size: 25px;
    color: #ffffff;
}

.additional-info .info-field span{
    font-size: 60px;
    color: #ffffff;
}


.player1-team .additional-info .info-field{
    flex: 1; /* Don't grow, don't shrink, and auto basis */
    width: 100px; /* Adjust this width as needed to make Foul and Disarmed equal and as desired */
}

.player2-team .additional-info .info-field {
    flex: 1; /* Don't grow, don't shrink, and auto basis */
    width: 100px; /* Adjust this width as needed to make Foul and Disarmed equal and as desired */
}

.additional-info1 {
    margin-top: 22px;
    height: 10vh;
    text-align: center;
    display: flex;
    justify-content: space-between; /* Adjust this as needed */
    align-items: center; /* Align items vertically */
    flex-wrap: wrap; /* Allows items to wrap if not enough space */
    /* Add other styling as needed, such as padding or margin */
}


.additional-info1 .info-field{
    border: solid 2px #ffffff;
    text-align: center;
    display: inline-block;
    justify-content: space-between; /* Adjust this as needed */
    align-items: center; /* Align items vertically */
    flex-wrap: wrap; /* Allows items to wrap if not enough space */
}


.additional-info1 .info-field label{
    font-size: 20px;
}

.additional-info1 .info-field span{
    font-size: 60px;
    color: #ffffff;
}


.additional-info1 .info-field{
    flex: 1; /* Don't grow, don't shrink, and auto basis */
    width: 100%; /* Adjust this width as needed to make Foul and Disarmed equal and as desired */
}

/* Styles for the teams for demonstration */

/* Responsive styling */
@media screen and (max-width: 600px) {
    .team {
        display: block;
        width: 100%;
        margin-right: 0;
    }

    .time, .set {
        display: block;
        width: 100%;
        margin-right: 0;
        margin-top: 20px;
    }
}

h1 {
    font-size: 50px;
    padding: 0;
   
}
  

