body {
    background-image: url('/static/img/log.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Fix the background image */
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    position: relative;
}

.navbar {
    background-color: #ca4f4dcd;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    font-weight: bold;
    position: fixed;
    margin: 0;
    width: 100%; /* Make the navbar full width */
    top: 0; /* Stick the navbar to the top */
    z-index: 1000; /* Ensure the navbar is on top of other elements */
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 40px; /* Adjust the height as needed */
    margin-left: 20px;
}

.nav-links ul {
    list-style: none;
    margin-right: 20px;
    padding: 0;
}

.nav-links ul li {
    display: inline;
    padding-right: 10px;
}

.nav-links ul li a {
    color: #0b0b0b;
    text-decoration: none;
}

.sidebar {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 180px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #D9D9D9;
    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 8px;
    padding-top: 50px;
}

.sidebar h5 {
    font-size: 12px;
    color: #000000;
    text-align: left;
    margin-bottom: 2px;
}

.sidebar ul {
    font-size: 11px;
    list-style-type: none;
    padding: 0;
    margin: -5px;
}

.sidebar ul li {
    padding: 5px;
}

.sidebar ul li a {
    display: block;
    color: #000000;
    text-decoration: none;
}

.sidebar ul li a:hover {
    background-color: rgb(185, 185, 185);
}

/* Page content */
.content {
    margin-left: 250px;
    padding: 20px;
}

/* arnis/static/arnis/styles.css */

/* Container */
    .container {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: #74747488;
        margin-left: 250px;
        width: 80%;
        padding-top: 10px; /* Remove padding */
        border-radius: 20px;
        padding-bottom: 65px;
        text-align: center;
        box-sizing: border-box;
        justify-content: space-around; /* This will space out the children (team1, middle-section, team2) */
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }
    
    table, th, td {
        border: 1px solid #ddd;
    }
    
    th, td {
        text-align: center;
        padding: 8px;
    }
    
    th {
        background-color: #f2f2f2;
    }
    
    tr:nth-child(even) {
        background-color: #74747488;
    }
    
    input[type="text"], input[type="number"] {
        width: 100%;
        padding: 6px;
        margin: 4px 0; 
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    select {
        width: 100%;
        padding: 6px;
        margin: 4px 0; 
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .school-year{
        background-color: #ffffff;
        padding: 3px;
        margin: 5px;
        border-radius: 5px;
        border: none;
        font-size: 12px;
        width: 200px;
        text-align: center;
    }
    
    table button {
        background-color: #ca4f4dcd;
        color: white;
        padding: 10px;
        margin: 3px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-weight: bold;
    }

    table button:hover {
        background-color: #ffffff;
        color: #000000;
        font-weight: bold;
    }

    .top {
        display: flex;
        margin: 0 auto;
        width: 30%;
        align-items: center;

    }

    .player-name{
        width: 250px;
    }

    #add-row-btn {
        background-color: #ca4f4dcd;
        color: white;
        padding: 10px 20px;
        margin: 10px auto;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        text-align: center;
        display: block;
        width: 10%;
        font-weight: bold;
    }

    #add-row-btn:hover {
        background-color: #ffffff;
        color: #000000;
        font-weight: bold;
    }

    #save-form-btn {
        background-color: green;
        color: white;
        padding: 10px 20px;
        margin: 10px;
        float: right;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        text-align: center;
        display: block;
        width: 10%;
        font-weight: bold;
    }

    #save-form-btn:hover {
        background-color: #0ed400;
        color: #000000;
        font-weight: bold;
    }

    
    button:hover {
        background-color: #ca4f4dcd;
    }
    
    .total-score {
        font-weight: bold;
    }

    .time h2 {
        margin: 7px;
    }
        .team {
        display: block;
        width: 100%;
        margin-right: 0;
    }

    .time, .round {
        display: block;
        width: 100%;
        margin-right: 0;
    }

h1 {
    font-size: 23px;
    padding-top: 55px;
    margin-left: 200px;
    text-align: center;
}

.time {
    text-align: center; /* Centers the text of direct child elements, like your <h2> */
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically if needed */
    background-color: #D9D9D9;
    margin: 0 auto;
    padding: 3px;
    width: 140px;
    border: solid 1px black;
}

.time #time-display1 {
    font-size: 30px;
    margin: 5px;
}

.time, .round {
    text-align: center;
}

.time-buttons, .buttons {
    display: flex;
    justify-content: center;
    gap: 10px; /* Adds space between buttons */
    margin-top: 5px;
}

.time-buttons, #play-btn, #stop-btn, #pause-btn {
    font-size: 10px;
}
