body {
    background-image: url('/static/img/log.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Fix the background image */
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    position: relative;
}

.navbar {
    background-color: #ca4f4dcd;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    font-weight: bold;
    position: fixed;
    margin: 0;
    width: 100%; /* Make the navbar full width */
    top: 0; /* Stick the navbar to the top */
    z-index: 1000; /* Ensure the navbar is on top of other elements */
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 40px; /* Adjust the height as needed */
    margin-left: 20px;
}

.nav-links ul {
    list-style: none;
    margin-right: 20px;
    padding: 0;
}

.nav-links ul li {
    display: inline;
    padding-right: 10px;
}

.nav-links ul li a {
    color: #0b0b0b;
    text-decoration: none;
}

.sidebar {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 180px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #D9D9D9;
    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 8px;
    padding-top: 50px;
}

.sidebar h5 {
    font-size: 12px;
    color: #000000;
    text-align: left;
    margin-bottom: 2px;
}

.sidebar ul {
    font-size: 11px;
    list-style-type: none;
    padding: 0;
    margin: -5px;
}

.sidebar ul li {
    padding: 5px;
}

.sidebar ul li a {
    display: block;
    color: #000000;
    text-decoration: none;
}

.sidebar ul li a:hover {
    background-color: rgb(185, 185, 185);
}

/* Page content */
.content {
    margin-left: 250px;
    padding: 20px;
}

/* arnis/static/arnis/styles.css */

/* Container */
    .container {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: #74747488;
        margin-left: 400px;
        width: 60%;
        padding-top: 10px; /* Remove padding */
        border-radius: 20px;
        padding-bottom: 20px;
        text-align: center;
        box-sizing: border-box;
        justify-content: space-around; /* This will space out the children (team1, middle-section, team2) */
    }

/* Input fields */
.input-fields {
    width: 90%;
    display: flex;
    margin: 0 auto;    
    align-items: center;
    color: #000000;
    gap: 10px;
    padding: 10px;

}

.input-fields label {
    margin-right: 0px;
    font-size: 12px;
    white-space: nowrap;  
    font-weight: bold;
    text-align: center;
}

.input-fields select {
    border: none;
    background-color: #ffffff;
    width: 50%;
    margin-right: 10px;
    padding: 3px;
    font-size: 12px;
}

.school-year{
    background-color: #ffffff;
    padding: 3px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    font-size: 12px;
    width: 200px;
    text-align: center;
}

.info {
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    margin-top: 2px;
}

.red-team h3 {
    color: #fff;
    font-size: 15px;
    text-align: center;
    align-items: center;
    background-color: #EE5E4B;
    padding: 10px;
}

.blue-team h3 {
    color: #fff;
    font-size: 15px;
    text-align: center;
    align-items: center;
    background-color: #5AA4FB;
    padding: 10px;
}

.player-input { 
    margin: 0 auto;   
    width: 365px;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
}

.input-group {
    display: flex;
    align-items: center; /* Align label and input vertically */
}

.input-group label{
    font-size: 12px;
    font-weight: bold;
    width: 50px;
    margin-right: 5px;
}

.input-group select{
    width: 100%;
    margin-right: 5px;
    margin-bottom: 3px;
    border: none;
    background-color: #ffffff;
    padding: 3px;
    font-size: 12px;
}

/* Team section */
.team {
    margin-top: -10px;
    display: inline-block;
    width: 45%;
}

.team h2 {
    margin-bottom: 10px;
}

.score-display {
    display: flex; /* Align items in a row */
    align-items: center; /* Center-align items vertically */
    justify-content: center; /* Center content horizontally */
    margin-top: 10px;

}

.score-display p {
    margin: 0 10px; /* Add some horizontal space around the score */
    font-size: 300px; /* Make the score text larger */
    text-align: center;
    padding: 0;
}

/* Additional info sections */
.additional-info {
    display: flex; /* Aligns children (foul, disarmed, win) in a row */
    align-items: center;
    position: relative;
}

.additional-info > div {
    flex: 1; /* Gives each child (foul, disarmed, win) an equal amount of space */
    align-items: center;
}

.foul {
    display: flex;
    align-items: center;
}

.team button {
    background-color: transparent;
    font-size: 40px;
    border: none;
    color: #0056b3;
}

.team button:hover {
    color: #EE5E4B;
}

.disarmed {
    display: flex;
    align-items: center;
}

.win {
    display: flex;
    align-items: center;
}

.additional-info p {
    margin: 0 10px; /* Add some horizontal space around the score */
    font-size: 80px; /* Make the score text larger */
    align-items: center;
}

.additional-info h2 {
    margin-right: 10px;
    font-size: 30px;
}


/* Middle section */
.middle-section {
    text-align: center; 
    justify-items: center;
    width: 200px;
    margin: auto;
    margin-top: -400px;
    padding: 10px;
}

/* Styles for the teams for demonstration */

.time, .round {
    text-align: center;
}

.time-buttons, .buttons {
    display: flex;
    justify-content: center;
    gap: 10px; /* Adds space between buttons */
    margin-top: 5px;
}

.time-buttons, #play-btn, #stop-btn, #pause-btn {
    font-size: 10px;
}

.score-display #red-increase-btn, #red-disarmed-increase-btn, #red-foul-increase-btn, #blue-increase-btn, #blue-disarmed-increase-btn, #blue-foul-increase-btn {
    color: white;
    background-color: green;
    border-radius: 10px;
    font-size: 25px;
}

.score-display #red-decrease-btn, #red-disarmed-decrease-btn, #red-foul-decrease-btn, #blue-decrease-btn, #blue-disarmed-decrease-btn, #blue-foul-decrease-btn {
    color: white;
    background-color: #c80000;
    border-radius: 10px;
    font-size: 27px;
}

.score-display #red-increase-btn:hover, #red-disarmed-increase-btn:hover, #red-foul-increase-btn:hover, #blue-increase-btn:hover, #blue-disarmed-increase-btn:hover, #blue-foul-increase-btn:hover {
    background-color: #2ec600;
}

.score-display #red-decrease-btn:hover, #red-disarmed-decrease-btn:hover, #red-foul-decrease-btn:hover, #blue-decrease-btn:hover, #blue-disarmed-decrease-btn:hover, #blue-foul-decrease-btn:hover {
    background-color: #ff1b1b;
}
#tournamentBracket {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.round {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.match {
  background-color: #f0f0f0;
  margin: 10px 0;
  padding: 10px;
  cursor: pointer;
}

.player {
  display: block;
}

#tournamentBracket {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: Arial, sans-serif;
      }
      
      .round {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
      }
      
      .match {
        display: flex;
        align-items: center;
        margin: 0 10px;
      }
      
      .participant {
        width: 120px;
        padding: 10px;
        border: 1px solid #ccc;
        text-align: center;
        box-sizing: border-box;
        background-color: #fff;
      }
      
      .connector {
        width: 20px;
        height: 2px;
        background-color: #ccc;
        margin: 0 10px;
      }
      
      .connector-vertical {
        width: 2px;
        height: 20px;
        background-color: #ccc;
        margin: 0 10px;
      }

.round-score {
    display: flex; /* Use flexbox */
    align-items: center; /* Align items in the center vertically */
    justify-content: center; /* Center the content horizontally */
}


.round-score p {
    font-size: 40px;
    font-weight: bold;
    margin: 0 10px;
}

.round #round-increase-btn {
    background-color: green;
    border: none;
    border-radius: 5px;
    color: #fff;
}

.round #round-decrease-btn {
    background-color: #c80000;
    border: none;
    border-radius: 5px;
    color: #fff;
}

.round #round-increase-btn:hover {
    background-color: #2ec600;
}

.round #round-decrease-btn:hover {
    background-color: #ff1b1b;
}


.time {
    text-align: center; /* Centers the text of direct child elements, like your <h2> */
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically if needed */
    background-color: #D9D9D9;
    margin: 0 auto;
    padding: 3px;
    width: 140px;
    margin-bottom: 40px;
    border: solid 1px black;
}

.time h2 {
    margin: 7px;
}

.time #time-display {
    font-size: 30px;
    margin: 5px;
}

.reset-button {
    background-color: #df1a00;
    color: #ffffff;
    border: none;
    padding: 5px;
    width: 70px;
    margin-right: 5px;
    border-radius: 10px;
    font-weight: bolder;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

.save-round-btn {
    background-color: #2ec600;
    color: #ffffff;
    border: none;
    padding: 5px;
    width: 100px;
    border-radius: 10px;
    font-weight: bolder;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

.reset-button:hover {
    background-color: #ff3f3f;
}

.save-round-btn:hover {
    background-color: #44ff0b;
}
/* Responsive styling */
@media screen and (max-width: 600px) {
    .team {
        display: block;
        width: 100%;
        margin-right: 0;
    }

    .time, .round {
        display: block;
        width: 100%;
        margin-right: 0;
        margin-top: 20px;
    }
}

h1 {
    font-size: 23px;
    padding-top: 55px;
    margin-left: 200px;
    text-align: center;
}

.out-btn {
    margin-top: 10px;
    margin-right: 100px;
    display: flex;
    float: right;
    font-size: 20px;
}

/* styles.css */

/* Reset default margin and padding */
table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #000000;
}

th, td {
    text-align: center;
    padding: 8px;
}

th {
    background-color: #ffff;
}

td {
    background-color: #ffffff78;
}

tr:nth-child(even) {
    background-color: #74747488;
}

/* Inside styles.css */

/* Style for the search bar */
.search-container {
    margin-left: 200px;
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    margin-top: 80px; /* Optional: Add some space below the search bar */
    margin-bottom: -50px;
}

.search-bar {
    padding: 10px;
    width: 80%; /* Adjust width as needed */
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-button {
    padding: 8px 12px;
    margin-left: 8px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #0056b3;
}

.col {
    display: flex;
    text-align: center;
    width: 100%;
}

.col .clm1{
    width: 40%;    
    border: solid 2px #b9b9b9;
    background-color: #fff;

}

.col .clm2{
    background-color: #fff;
    box-shadow: inset 5px 3px 5px rgba(0, 0, 0, 0.1);

}

.clm2 .bracket-players, .randomize-players{
    border: solid 2px #b9b9b9;
    border-left: none;
}

.clm2 .randomize-players{
    border-bottom: none;
    padding-bottom: 10px;
}

.clm1 #randomizedList{
    margin: 20px;
    padding: 10px;
    border: solid 1px #b9b9b9;
    text-align: left;
    box-shadow: inset 5px 3px 5px rgba(0, 0, 0, 0.1);
}

.clm2 .playerList{
    margin: 20px;
    padding: 10px;
    border: solid 1px #b9b9b9;
    text-align: left;
    box-shadow: inset 5px 3px 5px rgba(0, 0, 0, 0.1);
}

.clm2 #randomize-players{
    margin: 20px;
    padding: 10px;
    border: solid 1px #b9b9b9;
    text-align: left;
    box-shadow: inset 5px 3px 5px rgba(0, 0, 0, 0.1);
}

.col .clm2{
    width: 65%;
}

.col button {
    background-color: #cd2812;
    padding: 10px;
    margin: 10px;
    border: none;
    font-size: 12px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bolder;
}

.col button:hover {
    background-color: #EE5E4B;
}

