body {
    background-image: url('/static/img/log.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Fix the background image */
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    position: relative;
}

.navbar {
    background-color: #ca4f4dcd;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    font-weight: bold;
    position: fixed;
    margin: 0;
    width: 100%; /* Make the navbar full width */
    top: 0; /* Stick the navbar to the top */
    z-index: 1000; /* Ensure the navbar is on top of other elements */
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 40px; /* Adjust the height as needed */
    margin-left: 20px;
}

.nav-links ul {
    list-style: none;
    margin-right: 20px;
    padding: 0;
}

.nav-links ul li {
    display: inline;
    padding-right: 10px;
}

.nav-links ul li a {
    color: #0b0b0b;
    text-decoration: none;
}

.sidebar {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 180px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #D9D9D9;
    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 8px;
    padding-top: 50px;
}

.sidebar h5 {
    font-size: 12px;
    color: #000000;
    text-align: left;
    margin-bottom: 2px;
}

.sidebar ul {
    font-size: 11px;
    list-style-type: none;
    padding: 0;
    margin: -5px;
}

.sidebar ul li {
    padding: 5px;
}

.sidebar ul li a {
    display: block;
    color: #000000;
    text-decoration: none;
}

.sidebar ul li a:hover {
    background-color: rgb(185, 185, 185);
}

/* Page content */
.content {
    margin-left: 250px;
    padding: 20px;
}

.container {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #cececeab;
    margin-left: 250px;
    width: 80%;
    padding-top: 10px; /* Remove padding */
    border-radius: 20px;
    text-align: center;
    box-sizing: border-box;
    justify-content: space-around; /* This will space out the children (team1, middle-section, team2) */
}


h1 {
    font-size: 23px;
    padding-top: 55px;
    margin-left: 200px;
    text-align: center;
}

.time-winner .winner {
    color: #ff1e00;
    
}

.loser-winner {
    text-align: left;
    border: solid 1px black;
    font-size: 15px;
    margin-top: -15px;
    margin-bottom: 5px;
}

.loser-winner span{
    margin-left: 5px;
    width: 90%;
    background-color: transparent;
    border: none;
    font-size: 17px;
    color: #000000;

}

.loser-winner .winning{
    color: #00b700;
    text-shadow:
    1px 1px 1px #fff,   
     1px 1px 1px #fff,
    1px  1px 1px #fff,
     1px  1px 1px #fff; /* Outline effect */
    margin: 5px;
}

.loser-winner .losing{
    color: #b70000;
    text-shadow:
    1px 1px 1px #fff,  
     1px 1px 1px #fff,
    1px  1px 1px #fff,
     1px  1px 1px #fff; /* Outline effect */
    margin: 5px;
}



.year {
    position: relative;
    margin-bottom: -54px;
    margin-top: 20px;
    margin-left: 66%;
    text-align: left;
}

.school-year{
    border: solid 1px black;
    padding: 3px;
    margin: 5px;
    font-size: 12px;
    width: 200px;
    text-align: left;
}

.judge {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
}

.judge label {
    white-space: nowrap;
    margin-right: 10px;
    margin-left: 10px;
}
.judge select {
    width: 100%;
    padding: 3px;
    font-size: 12px;
}

.other {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-top: 5px;
    margin-right: 5px;
}

.other label {
    white-space: nowrap;
    margin-right: 10px;
    margin-left: 10px;
}
.other select {
    width: 100%;
    padding: 3px;
    font-size: 12px;
}

.winner {
    text-align: center;
    border: solid 1px black;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.time {
    margin: 0 auto;
    text-align: center;
    border: solid 1px black;
    width: 100%;
    display: flex;
}

.time label {
    text-align: center;
    margin: auto;
}


.time input[type="text"] {
    text-align: center;
    border: solid 1px black;
    width: 60%;
    display: flex;
    margin: auto;
}


.player-info {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: -10px;
}

.set-section {
    margin-bottom: 20px;
}

.set-section input{
    width: 90%;
    background-color: transparent;
    border: none;
    text-align: center;
}
.set-title {
    text-align: center;
    padding: 2px;
    color: green;
    font-size: 15px;
}

.player-title {
    text-align: center;
    padding: 2px;
    font-size: 17px;
    text-shadow: 
    -1px -1px 0 #fff,  
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

.team-section {
    width: 100%;
    display: flex;
}

.team-section1 {
    width: 100%;
    display: flex;
}

.team-1 {
    width: 100%;
    display: flex;
    align-items: center;
}

table {
    margin-bottom: 10px;
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #000000;
}

th, td {
    position: relative;
    text-align: center;
    padding: 8px;
}

th {
    background-color: #ffff;
    font-size: 12px;
}

.player-list td {
    background-color: #ffffff78;
}

.team-list {
    margin: 5px;
    width: 100%;
    display: flex;
    flex-grow: 1;
}

.player-list {
    width: 100%;
    margin: 0 auto; /* Center the player lists horizontally */
}

tr:nth-child(even) {
    background-color: #74747488;
}

.team {
    width: 100%;
    display: flex;
    align-items: center;
}

.team-info {
    margin-top: 20px; /* Adjust as needed */
    display: block;
    width: 100%;
    margin: 5px;
}

.team-block {
    width: 100%;
    margin-bottom: 3px; /* Space between each block */
    display: flex; /* Makes the label take up the full width */
}

.team-block span{
    width: 100%; /* Makes the input take up the full width */
    border: solid 1px black;
    background-color: #ffffff;
    padding: 3px;
    font-size: 12px;

}


.team-block label {
    white-space: nowrap;
    margin-right: 5px;
}

.team-block select {
    width: 100%; /* Makes the input take up the full width */
    border: solid 1px black;
    background-color: #ffffff;
    padding: 3px;
    font-size: 12px;
}


.metrics, .time-winner {
    margin-top: -1px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 15px;

}
.metric{
    width: calc(100% - 10px);
    text-align: center;
    width: 100%;
    border: solid 1px black;
    display: block;
    padding: 5px;
    padding-bottom: -5px;
}

.metric span{
    text-shadow:
        1px 1px 1px #fff,  
         1px 1px 1px #fff,
        1px  1px 1px #fff,
         1px  1px 1px #fff; /* Outline effect */
    width: 100%;
    display: block;
    margin: 5px auto;
    font-size: 20px;
}

.metric input{
    text-shadow:
        1px 1px 1px #fff,  
         1px 1px 1px #fff,
        1px  1px 1px #fff,
         1px  1px 1px #fff; /* Outline effect */
    width: 100%;
    display: block;
    margin: 5px auto;
    font-size: 17px;
    font-weight: bolder;
}

.time-winner {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
}

.time label{
    margin-right: 5px; /* Space between label and input */
    white-space: nowrap;
}

.time-winner .time, .winner{
    padding: 5px;
}

.time-winner span {
    align-items: center;
    font-size: 17px;
    text-shadow:
        1px 1px 1px #fff,  
         1px 1px 1px #fff,
        1px  1px 1px #fff,
         1px  1px 1px #fff;
}

.time-winner .time span {
    color: #0033ff;
}


.column {
    display: block;
    width: 100%;
    margin-bottom: 3px;
}

.columns {
    width: 100%;
    flex: 1;
}

.match-info {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
}

.match-info label {
     margin-right: 5px; /* Space between label and input */
     white-space: nowrap;
}

.match-info input[type="text"], .match-info input[type="datetime-local"], .match-info input[type="time"]  {
    width: 60%;
    border: solid 1px black;
    background-color: #ffffff;
    padding: 3px;
    font-size: 12px;
}

.match-info input[type="time"]  {
    width: 60%;
    border: solid 1px black;
    background-color: #ffffff;
    padding: 1px;
    font-size: 12px;
}

.match-info select{
    width: 60%;
    border: solid 1px black;
    background-color: #ffffff;
    padding: 3px;
    font-size: 12px;
}

.match-info span {
    padding-right: 60%;
    border: solid 1px black;
    background-color: #ffffff;
    font-size: 12px;
    padding-top: 3px;
}

.home-team h3 {
    width: 100px;
    color: #fff;
    font-size: 15px;
    text-align: center;
    align-items: center;
    background-color: #EE5E4B;
    padding: 10px;
}

.home h3 {
    color: #fff;
    font-size: 15px;
    text-align: center;
    align-items: center;
    background-color: #EE5E4B;
    padding: 10px;
    margin: 0;
}

.away h3 {
    color: #fff;
    color: #fff;
    font-size: 15px;
    text-align: center;
    align-items: center;
    background-color: #5AA4FB;
    padding: 10px;
    margin: 0;
}


.away-team h3 {
    width: 100px;
    color: #fff;
    font-size: 15px;
    text-align: center;
    align-items: center;
    background-color: #5AA4FB;
    padding: 10px;
}

.container .bold-horizontal-line {
    margin: 0;
    border-top: 1px solid; /* Adjust the thickness here */
}

.reset-button {
    background-color: #b10404;
    padding: 10px;
    border: none;
    font-size: 12px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
}

.reset-button:hover {
    background-color: #fb3535;
}

.btn-save {
    background-color: green;
    padding: 10px;
    margin: 5px;
    margin-bottom: 15px;
    margin-top: 10px;
    border: none;
    font-size: 12px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
}

.btn-save:hover {
    background-color: #00b700;
}