{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/arnis_display.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/selogo.png' %}">
    <title>ARNIS LABANAN DISPLAY</title>
</head>
<body>    
    <div class="headline">    
    <img src="{% static 'img/csspe.png' %}" alt="Logo">  
    <div class="headline-1">      
    <h1>ARNIS SCOREBOARD</h1>
    <div class="input-fields">
            <div class="info-field">
                <label>Weight Category: </label>
                <span id="weight-category">N/A</span>
            </div>
            <div class="info-field">
                <label>Division: </label>
                <span id="division">N/A</span>
            </div>          
        </div>    
    </div>
    <img src="{% static 'img/csspe.png' %}" alt="Logo">
    </div>
    <div class="container">
        <div class="container-1">
        <div class="team red-team">
            <div class="team-info">
                <div class="info-field">
                    <label>Team Name: </label>
                    <span id="red-team-name">N/A</span>
                </div>
                <hr class="bold-horizontal-line"> <!-- Apply a class to style the horizontal line -->
                <div class="info-field">
                    <label>Player Name: </label>
                    <span id="red-player-name">N/A</span>
                </div>
            </div>
            <hr class="bold-horizontal-line"> <!-- Apply a class to style the horizontal line -->
            <div class="score-info">
                <div class="info-field">
                    <div class="score-display">
                    <span id="display-red-score">0</span>
                    </div>
                </div>                    
                <div class="additional-info">
                <div class="info-field">
                    <label>Foul</label>
                    <span id="red-foul">0</span>
                </div>
                <div class="info-field">
                    <label>Disarmed</label>
                    <span id="red-disarmed">0</span>
                </div>
                <div class="info-field">
                    <label>Win</label>
                    <span id="red-win">0</span>
                </div>
            </div>
            </div>
        </div>
    
        <div class="team blue-team">
            <div class="team-info">
                <div class="info-field">
                    <label>Team Name: </label>
                    <span id="blue-team-name">N/A</span>
                </div>
                <hr class="bold-horizontal-line"> <!-- Apply a class to style the horizontal line -->
                <div class="info-field">
                    <label>Player Name: </label>
                    <span id="blue-player-name">N/A</span>
                </div>
            </div>
            <hr class="bold-horizontal-line"> <!-- Apply a class to style the horizontal line -->

            <div class="score-info">
                <div class="info-field">
                    <div class="score-display">
                    <span id="display-blue-score">0</span>
                    </div>
                </div>
                <div class="additional-info"> 
                    <div class="info-field blue-win">
                    <label>Win</label>
                    <span id="blue-win">0</span>
                </div> 
                <div class="info-field">
                    <label>Disarmed</label>
                    <span id="blue-disarmed">0</span>
                </div>
                <div class="info-field">
                    <label>Foul</label>
                    <span id="blue-foul">0</span>
                </div>
            </div>
            </div>
        </div>
    </div>
        <div class="middle-section">
            <div class="time-info">
                <label>Time</label>
                <hr class="bold-horizontal-line"> <!-- Apply a class to style the horizontal line -->
                <span id="time-display">0:00</span>
            </div>
            <div class="round-info">
                <label>Round</label>
                <hr class="bold-horizontal-line"> <!-- Apply a class to style the horizontal line -->
                <span id="round">0</span>
            </div>
        </div>
    </div>
</div>

    <script>    
            function loadScores() {
                // Debug log to ensure the function is running
                console.log('Loading scores and information...');

                function formatTime(seconds) {
                    const minutes = Math.floor(seconds / 60);
                    const remainingSeconds = seconds % 60;
                    return `${minutes.toString().padStart(1, '0')}:${remainingSeconds.toString().padStart(2, '0')}`;
                }
        
                const redScore = localStorage.getItem('red-score') || '0';
                const redFoul = localStorage.getItem('red-foul') || '0';
                const redDisarmed = localStorage.getItem('red-disarmed') || '0';
                const redWin = localStorage.getItem('red-win') || '0';
                const blueScore = localStorage.getItem('blue-score') || '0';
                const blueFoul = localStorage.getItem('blue-foul') || '0';
                const blueDisarmed = localStorage.getItem('blue-disarmed') || '0';
                const blueWin = localStorage.getItem('blue-win') || '0';
                const timeInSeconds = parseInt(localStorage.getItem('time'), 10) || 0;
                const formattedTime = formatTime(timeInSeconds);
                const round = localStorage.getItem('round') || '0';

                document.getElementById('display-red-score').textContent = redScore;
                document.getElementById('display-blue-score').textContent = blueScore;
                document.getElementById('time-display').textContent = formattedTime;
                document.getElementById('blue-foul').textContent = blueFoul;
                document.getElementById('blue-disarmed').textContent = blueDisarmed;
                document.getElementById('blue-win').textContent = blueWin;
                document.getElementById('red-foul').textContent = redFoul;
                document.getElementById('red-disarmed').textContent = redDisarmed;
                document.getElementById('red-win').textContent = redWin;
                document.getElementById('round').textContent = round;
        
                // Additional debug log to confirm data loading
                console.log(`Loaded: ${redScore}, ${blueScore}, ${formattedTime}, ${redFoul}, ${redDisarmed}, ${redWin}, ${blueFoul}, ${blueDisarmed}, ${blueWin}, ${round}etc.`);
            }            
            
            loadScores();
            setInterval(loadScores, 900);
            
            function clearScores() {
                localStorage.removeItem('weight-category');
                localStorage.removeItem('division');
                localStorage.removeItem('red-team-name');
                localStorage.removeItem('red-player-name');
                localStorage.removeItem('blue-team-name');
                localStorage.removeItem('blue-player-name');
                localStorage.removeItem('red-score');
                localStorage.removeItem('red-foul');
                localStorage.removeItem('red-disarmed');
                localStorage.removeItem('red-win');
                localStorage.removeItem('blue-score');
                localStorage.removeItem('blue-foul');
                localStorage.removeItem('blue-disarmed');
                localStorage.removeItem('blue-win');
                localStorage.removeItem('time');
                localStorage.removeItem('round');

                // Add any other items you wish to clear here
            }
        
            // Call clearScores when the page loads to reset the data
            window.onload = function() {
                clearScores();
            };

            document.addEventListener('DOMContentLoaded', function() {
                function updateDisplayPage() {
                    // Reset display elements to default values
                    document.getElementById('red-score').textContent = '0';
                    document.getElementById('red-foul').textContent = '0';
                    document.getElementById('red-disarmed').textContent = '0';
                    document.getElementById('red-win').textContent = '0';
                    document.getElementById('blue-win').textContent = '0';
                    document.getElementById('blue-foul').textContent = '0';
                    document.getElementById('blue-disarmed').textContent = '0';
                    document.getElementById('blue-win').textContent = '0';
                    document.getElementById('time-display').textContent = '0:00';
                                        // Continue for all relevant display elements...
            
                    console.log('Display page updated from reset.');
                }
            
                // Initial check in case the display page is opened after the reset has been triggered
                if (localStorage.getItem('resetTrigger')) {
                    updateDisplayPage();
                }
            
                // Listener for storage changes to catch reset signals
                window.addEventListener('storage', function(event) {
                    if (event.key === 'resetTrigger') {
                        updateDisplayPage();
                    }
                });

                function updateLabanan() {
                    // Retrieve the initial data from localStorage
                    const labananData = JSON.parse(localStorage.getItem('labananData'));
                
                    // Update UI with the latest data
                    if (labananData) {
                        document.getElementById('division').textContent = labananData.matchInfo.divisionText;
                        document.getElementById('weight-category').textContent = labananData.matchInfo.weightCategoryText   ;
                
                        document.getElementById('red-team-name').textContent = labananData.redTeam.nameText;
                        document.getElementById('red-player-name').textContent = labananData.redTeam.playerText; 
                        document.getElementById('blue-team-name').textContent = labananData.blueTeam.nameText; 
                        document.getElementById('blue-player-name').textContent = labananData.blueTeam.playerText;
                
                    }
                }
                
                // Call the function to update UI initially and every second
                updateLabanan();
                setInterval(updateLabanan, 1000);    
            });
            

    </script>
</body>
</html>
