{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPORTS</title>
    <link rel="icon" type="image/png" href="{% static 'img/selogo.png' %}">
    <link rel="stylesheet" href="{% static 'css/sports.css' %}">
</head>
<body> 
<header>
        <div class="navbar">
        <div class="logo">
            <img src="{% static 'img/csspe.png' %}" alt="Logo">
        </div>
        <div class="nav-links">
            <ul>
                <li>
                    <a href="javascript:history.back()">
                        <img src="{% static '/img/back.png'%}"  alt="Match History" class="icon" placeholder="icon" /> <!-- Image as Icon -->
                        <span class="tooltip-text">Go back</span> <!-- Tooltip Text -->
                    </a>
                </li>
            </ul>
        </div>
    </div> 
</header>
<main>
    <!-- Messages Block -->
    {% if messages %}
        <div class="floating-messages">
            {% for message in messages %}
                <div class="message {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
    <h1>CHOOSE A SPORT:</h1>
    <div class="sports-buttons">
        <a href="/arnis">ARNIS</a>
        <a href="/table_tennis">TABLE TENNIS</a>
        <a href="/volleyball">VOLLEYBALL</a>
    </div>
</main>
<script>
    // Automatically hide the message after 3 seconds
    setTimeout(function() {
        const messages = document.querySelector('.floating-messages');
        if (messages) {
            messages.style.opacity = '0';
            setTimeout(() => messages.remove(), 1000); // Remove the message after fading out
        }
    }, 4000);
</script>
</body>
</html>
