{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/stennis_display.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/selogo.png' %}">
    <title>SINGLES TENNIS DISPLAY</title>
</head>
<body>    
    <div class="headline">    
    <img src="{% static 'img/csspe.png' %}" alt="Logo">  
    <div class="headline-1">      
    <h1>SINGLES TENNIS SCOREBOARD</h1>
    <h4>Western Mindanao State University</h4>
    <h4>College of Sport Science and Physical Education</h4>
    <div class="input-fields">
            <div class="info-field">
                <label>Category: </label>
                <span id="category">N/A</span>
            </div>
        </div>    
    </div>
    <img src="{% static 'img/csspe.png' %}" alt="Logo">
    </div>
    <div class="container">
        <div class="container-1">
        <div class="team player1-team">
            <div class="team-info">
                <div class="info-field">
                    <label>Player Name: </label>
                    <span id="player1-team-name">N/A</span>
                </div>
            </div>
            <hr class="bold-horizontal-line"> <!-- Apply a class to style the horizontal line -->
            <div class="score-info">
                <div class="info-field">
                    
                    <div class="score-display">
                    <span id="display-player1-score">0</span>
                    </div>
                </div>   
                    <div class="timeout-used">
                        <label>Timeout Used:</label>
                        <span id="player1-timeout-used">0</span>
                    </div>                 
                <div class="additional-info">
                <div class="info-field">
                    <label>SET 5</label>
                    <span id="player1-set5">0</span>
                </div>
                <div class="info-field">
                    <label>SET 4</label>
                    <span id="player1-set4">0</span>
                </div>
                <div class="info-field">
                    <label>SET 3</label>
                    <span id="player1-set3">0</span>
                </div>
                <div class="info-field">
                    <label>SET 2</label>
                    <span id="player1-set2">0</span>
                </div>
                <div class="info-field">
                    <label>SET 1</label>
                    <span id="player1-set1">0</span>
                </div>
            </div>
            </div>
        </div>
    
        <div class="team player2-team">
            <div class="team-info">
                <div class="info-field">
                    <label>Player Name: </label>
                    <span id="player2-team-name">N/A</span>
                </div>
            </div>
            <hr class="bold-horizontal-line"> <!-- Apply a class to style the horizontal line -->
            <div class="score-info">
                <div class="info-field">
                    <div class="score-display">                    
                    <span id="display-player2-score">0</span>
                    </div>
                </div>   
                <div class="timeout-used">
                    <label>Timeout Used:</label>
                    <span id="player2-timeout-used">0</span>
                </div>     
                <div class="additional-info">
                    <div class="info-field">
                        <label>SET 1</label>
                        <span id="player2-set1">0</span>
                    </div>
                    <div class="info-field">
                        <label>SET 2</label>
                        <span id="player2-set2">0</span>
                    </div>
                    <div class="info-field">
                        <label>SET 3</label>
                        <span id="player2-set3">0</span>
                    </div>
                    <div class="info-field">
                        <label>SET 4</label>
                        <span id="player2-set4">0</span>
                    </div>
                    <div class="info-field">
                        <label>SET 5</label>
                        <span id="player2-set5">0</span>
                    </div>
            </div>
            </div>
        </div>
        </div>
        <input type="color" id="colorPicker" style="display: none;" onchange="changeBackgroundColor()">
    </div>
        <div class="middle-section">
            <div class="time-info">
                <label>Time</label>
                <hr class="bold-horizontal-line"> <!-- Apply a class to style the horizontal line -->
                <span id="time-display1">0:00:00</span>
            </div>
            <div class="set-info">
                <label>SET</label>
                <hr class="bold-horizontal-line"> <!-- Apply a class to style the horizontal line -->
                <span id="set1">0</span>
            </div>
        </div>
    </div>
</div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Function to update the display from local storage
            function updateDisplayFromLocalStorage1() {
                var data = JSON.parse(localStorage.getItem('yourDataKey1'));
    
                // Update category
                // Update home team scores
                document.getElementById('display-player1-score').textContent = data.player1Scores.score;
                document.getElementById('player1-set1').textContent = data.player1Scores.set1;
                document.getElementById('player1-set2').textContent = data.player1Scores.set2;
                document.getElementById('player1-set3').textContent = data.player1Scores.set3;
                document.getElementById('player1-set4').textContent = data.player1Scores.set4;
                document.getElementById('player1-set5').textContent = data.player1Scores.set5;
        
                // Update away team scores
                document.getElementById('display-player2-score').textContent = data.player2Scores.score;
                document.getElementById('player2-set1').textContent = data.player2Scores.set1;
                document.getElementById('player2-set2').textContent = data.player2Scores.set2;
                document.getElementById('player2-set3').textContent = data.player2Scores.set3;
                document.getElementById('player2-set4').textContent = data.player2Scores.set4;
                document.getElementById('player2-set5').textContent = data.player2Scores.set5;
        
        
                document.getElementById('player1-timeout-used').textContent = data.timeoutCounters.player1;
                document.getElementById('player2-timeout-used').textContent = data.timeoutCounters.player2;
        
                // Update time display
                var seconds = parseInt(localStorage.getItem('time1'), 10) || 0;
                // Calculate minutes and seconds
                var hours = Math.floor(seconds / 3600);
                var minutes = Math.floor((seconds % 3600) / 60);
                var secondsPart = seconds % 60;
                // Update the time display
                document.getElementById('time-display1').textContent = hours.toString().padStart(1, '0') + ':' + minutes.toString().padStart(2, '0') + ':' + secondsPart.toString().padStart(2, '0');        
        
                // Update set
                document.getElementById('set1').textContent = data.set1Score;
            }
        
            // Initial update
            updateDisplayFromLocalStorage1();
        
        
            // Interval function to update display from local storage every second
            setInterval(updateDisplayFromLocalStorage1, 1000);
        });

        function updateStennis() {
            // Retrieve the initial data from localStorage
            const stennisData = JSON.parse(localStorage.getItem('stennisData'));
        
            // Update UI with the latest data
            if (stennisData) {
                document.getElementById('category').textContent = stennisData.gameInfo.category;
                document.getElementById('player1-team-name').textContent = stennisData.player1Info.playerNameText;
                document.getElementById('player2-team-name').textContent = stennisData.player2Info.playerNameText;
            }
        }
        updateStennis();
        setInterval(updateStennis, 1000);
    
</script>
</body>
</html>
