{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'css/timer.css' %}">
<title>Moodle Timer</title>
</head>
<body>
    <div class="middle-section">
        <div class="timeout">
            <h2>Timer</h2>
            <div id="timeout-display">0:00</div>
            <div class="timeout-buttons">
                <button id="play-btn">Play</button>
                <button id="pause-btn">Pause</button>
                <button id="stop-btn">Stop</button>
            </div>
        </div>
    </div>
<script>
let timeoutTimer;
let timeoutSeconds = parseInt(localStorage.getItem('timeoutSeconds'), 10) || 0;
let timeoutMinutes = parseInt(localStorage.getItem('timeoutMinutes'), 10) || 0;
const alertSoundSrc = "{% static 'audio/alert.mp3' %}";
const alertSound = new Audio(alertSoundSrc);

function displayTimeout() {
    const minutesPart = timeoutMinutes.toString().padStart(1, '0');
    const secondsPart = timeoutSeconds.toString().padStart(2, '0');
    document.getElementById('timeout-display').textContent = `${minutesPart}:${secondsPart}`;
}

function startTimeout() {
    if (!timeoutTimer) {
        timeoutTimer = setInterval(function() {
            if (timeoutMinutes === 0 && timeoutSeconds === 30) {
                stopTimeout();
                alertSound.play();
            } else {
                timeoutSeconds++;
                if (timeoutSeconds === 60) {
                    timeoutMinutes++;
                    timeoutSeconds = 0;
                }
                displayTimeout();
                localStorage.setItem('timeoutSeconds', timeoutSeconds);
                localStorage.setItem('timeoutMinutes', timeoutMinutes);
            }
        }, 1000);
    }
}

function stopTimeout() {
    clearInterval(timeoutTimer);
    timeoutTimer = null;
    timeoutSeconds = 0;
    timeoutMinutes = 0;
    localStorage.removeItem('timeoutSeconds');
    localStorage.removeItem('timeoutMinutes');
}

function resetTimeout() {
    stopTimeout();
    alertSound.pause(); // Pause the sound
    displayTimeout();
}

document.getElementById("play-btn").addEventListener("click", startTimeout);
document.getElementById("pause-btn").addEventListener("click", stopTimeout);
document.getElementById("stop-btn").addEventListener("click", resetTimeout);
</script>
</body>
</html>
