{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'img/selogo.png' %}">
    <link rel="stylesheet" href="{% static 'css/volleyball_view.css' %}">
    <title>VOLLEYBALL SCORESHEET</title>
</head>
<header>
    <div class="navbar">
    <div class="logo">
        <img src="{% static 'img/csspe.png' %}" alt="Logo">
    </div>
    <div class="nav-links">
        <ul>
            <li>
                <span>{{ username|upper  }}</span> <!-- Display Username -->
            </li>
            <li>
                <a href="javascript:history.back()">
                    <img src="{% static '/img/back.png'%}"  alt="Match History" class="icon" placeholder="icon" /> <!-- Image as Icon -->
                    <span class="tooltip-text">Go back</span> <!-- Tooltip Text -->
                </a>
            </li>
        </ul>
    </div>
</div> 
</header>
<body>
    <h1>Volleyball Match {{match.matchID}} Details</h1>
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <div class="form-section">
                <div class="match-info">
                <div class="columns">
                <div class="column">
                <label for="event">Event:</label><span id="event" name="event">{{match.event}}</span>
                </div>
                <div class="column">
                <label for="place">Venue:</label><span id="place" name="place">{{match.place}}</span>
                </div>
                <div class="column">
                <label for="date">Date:</label><span id="date" name="date">{{match.date}}</span>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <label for="category">Category:</label><span id="category" name="category">{{match.category}}</span>
                </div>
                
                <div class="column">
                    <label for="time-started">Time Started:</label><span id="time-started" name="start">{{match.start}}</span>
                </div> 
                <div class="column">
                    <label for="time-finished">Time Finished:</label><span id="time-finished" name="finish">{{match.finish}}</span>
                </div>                      
            </div>

            <div class="columns">
                <div class="column">
                    <label for="match-no">Match No.:</label><span id="match-no" name="match_no">{{match.match_no}}</span>
                    </div>
                    <div class="column">
                        <label for="school-year">School Year:</label><span id="school-years" name="school_year" class="school_year">{{match.yearID}}</span>
                    </div>
                </div>
            </div> 
                <div class="player-info">
                <div class="team home-team">
                <h3>HOME</h3>
                <div class="team-info">
                    <div class="team-block">
                        <label for="home-team-name">Team Name:</label><span id="home-team-name" name="home_team">{{match.home_team}}</span>
                    </div>
                </div>
                </div>

                <div class="team away-team">
                <div class="team-info">
                    <div class="team-block">
                        <label for="away-team-name">Team Name:</label><span id="away-team-name" name="away_team">{{match.away_team}}</span>
                    </div>
                </div>
                <h3>AWAY</h3>
                </div>
                </div>     
                <hr class="bold-horizontal-line"> <!-- Apply a class to style the horizontal line -->
            <div class="set-section">
                <div class="set-title" id="set-1">Set 1</div>
                <hr class="bold-horizontal-line"> <!-- Apply a class to style the horizontal line -->
                <div class="team-section">
                    <div class="team-1">
                        <div class="metrics">
                            {% if first_player1 %}
                            <div class="metric">Score: <span id="home-score1" name="home_score1">{{first_player1.score}}</span>
                                {% else %}
                                <div class="metric">Score: <span id="home-score1" name="home_score1">0</span>
                                {% endif %}
                            </div>   
                        </div>
                    </div>
                    <div class="team-1">
                        <div class="metrics">
                            {% if second_player1 %}
                            <div class="metric">Score: <span id="away-score1" name="away_score1">{{second_player1.score}}</span>
                                {% else %}
                                <div class="metric">Score: <span id="away-score1" name="away_score1">0</span>
                                    {% endif %}
                            </div>                
                        </div>
                    </div>
                </div>
                <div class="time-winner">
                        <div class="time"><label>Time:</label><span id="winner1" name="winner1">{{set1.time}}</span>
                        </div>
                        <div class="winner">Winner: <span id="winner1" name="winner1">{{set1.winner}}</span>
                        </div>
                </div>
                <div class="set-title" id="set-2">Set 2</div>
                <div class="team-section">
                    <div class="team-1">
                        <div class="metrics">
                            {% if first_player2 %}
                            <div class="metric">Score: <span id="home-score1" name="home_score1">{{first_player2.score}}</span>
                                {% else %}
                                <div class="metric">Score: <span id="home-score1" name="home_score1">0</span>
                                {% endif %}
                            </div>   
                        </div>
                    </div>
                    <div class="team-1">
                        <div class="metrics">
                            {% if second_player2 %}
                            <div class="metric">Score: <span id="away-score1" name="away_score1">{{second_player2.score}}</span>
                                {% else %}
                                <div class="metric">Score: <span id="away-score1" name="away_score1">0</span>
                                    {% endif %}
                            </div>                
                        </div>
                    </div>
                </div>
                <div class="time-winner">
                        <div class="time"><label>Time:</label><span id="winner1" name="winner1">{{set2.time}}</span>
                        </div>
                        <div class="winner">Winner: <span id="winner1" name="winner1">{{set2.winner}}</span>
                        </div>
                </div>
                <div class="set-title" id="set-3">Set 3</div>
                <div class="team-section">
                    <div class="team-1">
                        <div class="metrics">
                            {% if first_player3 %}
                            <div class="metric">Score: <span id="home-score1" name="home_score1">{{first_player3.score}}</span>
                                {% else %}
                                <div class="metric">Score: <span id="home-score1" name="home_score1">0</span>
                                {% endif %}
                            </div>   
                        </div>
                    </div>
                    <div class="team-1">
                        <div class="metrics">
                            {% if second_player3 %}
                            <div class="metric">Score: <span id="away-score1" name="away_score1">{{second_player3.score}}</span>
                                {% else %}
                                <div class="metric">Score: <span id="away-score1" name="away_score1">0</span>
                                    {% endif %}
                            </div>                
                        </div>
                    </div>
                </div>
                <div class="time-winner">
                        <div class="time"><label>Time:</label><span id="winner1" name="winner1">{{set3.time}}</span>
                        </div>
                        <div class="winner">Winner: <span id="winner1" name="winner1">{{set3.winner}}</span>
                        </div>
                </div>
                <div class="player-title" id="timeout-used">Timeout Used:</div>
                <div class="team-section">
                    <div class="team-1">
                        <div class="metrics">
                            <div class="metric"><span id="home-timeout-used" name="home_team_timeout">{{match.home_team_timeout}}</span>
                            </div>   
                        </div>
                    </div>
                    <div class="team-1">
                        <div class="metrics">
                            <div class="metric"><span id="away-timeout-used" name="away_team_timeout">{{match.away_team_timeout}}</span>
                            </div>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="loser-winner">
                <div class="winning">
                    <label>Winning Team:</label><span id="winning-team" name="winning_team">{{match.winning_team}}</span>
                </div>                
                <div  class="losing">
                    <label>Losing Team:</label><span id="losing-team" name="losing_team">{{match.losing_team}}</span>
                </div>   
            </div>
            {% comment %} <div class="player-title">Match Players</div>
            <div class="team-section1">
                <div class="team-list">
                <div class="home player-list">
                    <h3>Home Players</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>Player Name</th>
                                <th>Player Role</th>
                                <th>Points</th>
                            </tr>
                        </thead>
                        <tbody id="home-player-score">
                        </tbody>
                    </table>
                </div>
            <div class="away player-list">
                <h3>Away Players</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Player Name</th>
                            <th>Player Role</th>
                            <th>Points</th>
                        </tr>
                    </thead>
                    <tbody id="away-player-score">
                    </tbody>
                </table>
            </div>
            </div>
        </div>     {% endcomment %}
        <hr class="bold-horizontal-line"> <!-- Apply a class to style the horizontal line -->    
            <div class="judge">
            <label for="judge1">Line Judge 1:</label><span id="line-judge1" name="line_judge1">{{match.line_judge1}}</span>
                
                <label for="judge2">Judge 2:</label><span id="line-judge2" name="line_judge2">{{match.line_judge2}}</span>
        </div>
            <div class="other">
                <label for="referee1">Referee 1:</label><span id="referee1" name="referee1">{{match.referee1}}</span>

                <label for="referee2">Referee 2:</label><span id="referee2" name="referee2">{{match.referee2}}</span>

                <label for="scorer">Scorekeeper:</label><span id="scorer" name="scorer">{{match.scorer}}</span>
            </div>
    </div>   
</body>
</html>
