{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSSPE Scoring System</title>
    <link rel="icon" type="image/png" href="{% static 'img/selogo.png' %}">
    <link rel="stylesheet" href="{% static 'css/arnis.css' %}">
</head>
<body> 
<header>
        <div class="navbar">
        <div class="logo">
            <img src="{% static 'img/csspe.png' %}" alt="Logo">
        </div>
        <div class="nav-links">
            <ul>
                <li><a href="/sports">Sports</a></li>
                <li><a href="#">About Us</a></li>
            </ul>
        </div>
    </div> 
    <div class="sidebar">
        <h5>Scoring Board</h5>
        <hr class="bold-horizontal-line"> <!-- Apply a class to style the horizontal line -->
        <ul>
            <li><a href="/arnis_labanan">Arnis Labanan</a></li>
            <li><a href="/arnis_anyo">Anyo/Form</a></li>
        </ul>
        <h5>Full Contact Sheet</h5>
        <hr class="bold-horizontal-line"> <!-- Apply a class to style the horizontal line -->
        <ul>
            <li><a href="/labanan_sheet">Arnis Labanan</a></li>
            <li><a href="/anyo_sheet">Anyo/Form</a></li>
        </ul>
        <h5>Display</h5>
        <hr class="bold-horizontal-line"> <!-- Apply a class to style the horizontal line -->
        <ul>
            <li><a href="/labanan_display">Arnis Labanan</a></li>
            <li><a href="/anyo_display">Anyo/Form</a></li>
        </ul>
        <h5>History</h5>
        <hr class="bold-horizontal-line"> <!-- Apply a class to style the horizontal line -->
        <ul>
            <li><a href="/match_history">Match</a></li>
        </ul>
        <h5>Randomizer</h5>
        <hr class="bold-horizontal-line"> <!-- Apply a class to style the horizontal line -->
        <ul>
            <li><a href="/arnis_bracket">Create</a></li>
        </ul>
        <h5>Sport Data</h5>
        <hr class="bold-horizontal-line"> <!-- Apply a class to style the horizontal line -->
        <ul>
            <li><a href="/arnis_sport_data">Add Information</a></li>
        </ul>
        <h5>Logout</h5>
        <hr class="bold-horizontal-line"> <!-- Apply a class to style the horizontal line -->
        <ul>
            <li><a href="/logout">logout</a></li>
        </ul>
    </div>
</header>
</body>
</html>
