{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSSPE Scoring System</title>
    <link rel="icon" type="image/png" href="{% static 'img/selogo.png' %}">
    <link rel="stylesheet" href="{% static 'css/landing.css' %}">
</head>
<body> 
<header>
        <div class="navbar">
        <div class="logo">
            <img src="{% static 'img/csspe.png' %}" alt="Logo">
        </div>
        <div class="nav-links">
            <ul>
                <li><a href="/sport">Sports</a></li>
                <li><a href="#">About Us</a></li>
            </ul>
        </div>
    </div> 
</header>
<main>
    <div class="top-text">
        <p>WESTERN MINDANAO STATE UNIVERSITY</p>
        <h2>COLLEGE OF SPORT SCIENCE AND PHYSICAL EDUCATION</h2>
    </div>
    
    <div class="middle-text">
        <h1>SPORTS SCORING SYSTEM</h1>
    </div>
    
    <div class="button">
        <a href="/sports">Get Started</a>
    </div>
</main>
</body>
</html>
