{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TABLE TENNIS SINGLE SCOREBOARD</title>
    <link rel="icon" type="image/png" href="{% static 'img/selogo.png' %}">
    <link rel="stylesheet" href="{% static 'css/tennis.css' %}">
</head>
<body> 
<header>
        <div class="navbar">
        <div class="logo">
            <img src="{% static 'img/csspe.png' %}" alt="Logo">
        </div>
        <div class="nav-links">
            <ul>
                <li><a href="/sports">Sports</a></li>
                <li><a href="#">About Us</a></li>
            </ul>
        </div>
    </div> 
    <div class="sidebar">
        <h5>Scoring Board</h5>
        <hr class="bold-horizontal-line"> <!-- Apply a class to style the horizontal line -->
        <ul>
            <li><a href="/single_tennis_scoreboard">Singles Scoreboard</a></li>
            <li><a href="/double_tennis_scoreboard">Mixed/Doubles Scoreboard</a></li>
        </ul>
        <h5>Match Sheet</h5>
        <hr class="bold-horizontal-line"> <!-- Apply a class to style the horizontal line -->
        <ul>
            <li><a href="/single_tennis_sheet">Single Scoresheet</a></li>
            <li><a href="/double_tennis_sheet">Mixed/Doubles Scoresheet</a></li>
        </ul>
        <h5>Display</h5>
        <hr class="bold-horizontal-line"> <!-- Apply a class to style the horizontal line -->
        <ul>
            <li><a href="/single_tennis_display">Single Score Display</a></li>
            <li><a href="/double_tennis_display">Mixed/Doubles Score Display</a></li>
        </ul>
        <h5>History</h5>
        <hr class="bold-horizontal-line"> <!-- Apply a class to style the horizontal line -->
        <ul>
            <li><a href="/match_history">Game</a></li>
        </ul>
        <h5>Randomizer</h5>
        <hr class="bold-horizontal-line"> <!-- Apply a class to style the horizontal line -->
        <ul>
            <li><a href="/tennis_bracket">Create</a></li>
        </ul>
        <h5>Sport Data</h5>
        <hr class="bold-horizontal-line"> <!-- Apply a class to style the horizontal line -->
        <ul>
            <li><a href="/tennis_sport_data">Add Information</a></li>
        </ul>
        <h5>Logout</h5>
        <hr class="bold-horizontal-line"> <!-- Apply a class to style the horizontal line -->
        <ul>
            <li><a href="/logout">logout</a></li>
        </ul>
    </div>
</header>
<h1>Scoring Board</h1>
<div class="container">
    <form method="get" action="">
        <label for="school_year">School Year:</label>
        <select name="school_year" onchange="this.form.submit()" class="school-year">
            <option value="">Select a School Year</option>
            {% for year in school_years %}
                <option value="{{ year.YearID }}" {% if selected_year_id|stringformat:"s" == year.YearID|stringformat:"s" %}selected{% endif %}>
                    {{ year.start_year }}-{{ year.end_year }}
                </option>
            {% endfor %}
        </select>
    </form>
    
    <div class="input-fields">
        <label for="category">Category:</label>
        <select id="category" name="category" class="input-fields">
            <option value="" >--.--</option>
            <option value="First Single">First Single</option>
            <option value="Second Single">Second Single</option>
        </select>
    </div>  
    <div class="team player1-team">
        <div class="info player1-team">
            <h3 id="player1-heading">Home</h3>
            <div class="player-input">
                <div class="input-group">
                    <label for="player1-team-name">Player Name:</label>
                    <select id="player1-selection1" class="player-input" onchange="updateTeamSelection(this)" name="player1-selection1">
                        <option value="">-- Select Player --</option>
                        {% for player in players %}
                        <option value="{{ player.playerID }}">{{ player.player_name }}</option>
                        {% endfor %}
                    </select>
                </div>  
            </div>
        </div>
        <div class="score-display">
            <button id="player1-decrease-btn">-</button>
            <p id="player1-score">0</p>
            <button id="player1-increase-btn">+</button>
        </div>
        <div class="additional-info">
            <div class="sets">
                <h2>Set 1</h2>
                <p id="player1-set1">0</p>
            </div>
            <div class="sets">
                <h2>Set 2</h2>
                <p id="player1-set2">0</p>
            </div>
            <div class="sets">
                <h2>Set 3</h2>
                <p id="player1-set3">0</p>
            </div>
            <div class="sets">
                <h2>Set 4</h2>
                <p id="player1-set4">0</p>
            </div>
            <div class="sets">
                <h2>Set 5</h2>
                <p id="player1-set5">0</p>
            </div>
            <div class="sets">
                <h2>Timeout</h2>
                <p id="player1-timeout">0</p>
            </div>
        </div>
    </div>
    <div class="team player2-team">
        <div class="info player2-team">
            <div class="player-input">
                <div class="input-group">
                    <label for="player2-team-name">Player Name:</label>
                    <select id="player2-selection2" class="player-input" onchange="updateTeamSelection(this)" name="player2-selection2">
                        <option value="">-- Select Player --</option>
                        {% for player in players %}
                        <option value="{{ player.playerID }}">{{ player.player_name }}</option>
                        {% endfor %}
                    </select>  
                </div>
            </div>
            <h3 id="player2-heading">Away</h3>
        </div>
        <div class="score-display">
            <button id="player2-decrease-btn">-</button>
            <p id="player2-score">0</p>
            <button id="player2-increase-btn">+</button>
        </div>
        <div class="additional-info">
            <div class="sets">
                <h2>Timeout</h2>
                <p id="player2-timeout">0</p>
            </div>
            <div class="sets">
                <h2>Set 5</h2>
                <p id="player2-set5">0</p>
            </div> 
            <div class="sets">
                <h2>Set 4</h2>
                <p id="player2-set4">0</p>
            </div>
            <div class="sets">
                <h2>Set 3</h2>
                <p id="player2-set3">0</p>
            </div>
            <div class="sets">
                <h2>Set 2</h2>
                <p id="player2-set2">0</p>
            </div>
            <div class="sets">
                <h2>Set 1</h2>
                <p id="player2-set1">0</p>
            </div>
        </div>
    </div>
    <div class="middle-section">
        <div class="time1">
            <h2>Time</h2>
            <div id="time-display1">00:00</div>
            <div class="time-buttons">
                <button id="play-btn">Play</button>
                <button id="pause-btn">Pause</button>
                <button id="stop-btn">Stop</button>
            </div>
        </div>
        <div class="set1">
            <h2>SET</h2> 
            <div class="set-score1">
                <button id="set-decrease-btn1">-</button>
                <p id="set1">0</p>
                <button id="set-increase-btn1">+</button>
            </div>
        </div>
    </div>
</div>
<div class="out-btn">
    <button id="save-set-btn1" class="save-set-btn1">Save Set</button>
    <button id="save-match-btn1" class="save-match-btn1">Save Match</button>    
    <button id="reset-button1" class="reset-button1">Reset</button>
</div>    
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var player1TimeoutParagraph = document.getElementById("player1-timeout");
        var player2TimeoutParagraph = document.getElementById("player2-timeout");
        
        player1TimeoutParagraph.addEventListener("click", function() {
            updateTimeoutCounter("player1");
        });
        
        player2TimeoutParagraph.addEventListener("click", function() {
            updateTimeoutCounter("player2");
        }); 
});

    
    function updateTimeoutCounter(team) {
        // Get the timeout usage counter element based on the team
        var timeoutCounterElement;
        if (team === "player1") {
            timeoutCounterElement = document.getElementById("player1-timeout");
        } else if (team === "player2") {
            timeoutCounterElement = document.getElementById("player2-timeout");
        } else {
            return; // Exit function if invalid team is provided
        }
        
        // Get the current usage count
        var currentCount = parseInt(timeoutCounterElement.textContent);
        
        // Increment the count by 1, if it's less than or equal to 2
        if (currentCount < 2) {
            currentCount++;
            timeoutCounterElement.textContent = currentCount;
            
            // Open Moodle in a new window
            window.open('/timer', '_blank', 'width=350,height=250,toolbar=no,scrollbars=no,resizable=no,max-width=600,max-height=400,min-width=600,min-height=400 background-color=red,top=' + ((window.innerHeight - 400) / 2) + ',left=' + ((window.innerWidth - 600) / 2));
        }
    }    
    
    
    document.addEventListener("DOMContentLoaded", function() {
        var setScore = document.getElementById("set1");
        var setIncreaseBtn = document.getElementById("set-increase-btn1");
        var setDecreaseBtn = document.getElementById("set-decrease-btn1");
        
        setIncreaseBtn.addEventListener("click", function() {
            var currentScore = parseInt(setScore.textContent);
            setScore.textContent = currentScore + 1;
            console.log("Current Set Score:", currentScore + 1);
        });
        
        setDecreaseBtn.addEventListener("click", function() {
            var currentScore = parseInt(setScore.textContent);
            if (currentScore > 0) {
                setScore.textContent = currentScore - 1;
                console.log("Current Set Score:", currentScore - 1);
            }
        });
        
        // Button functionality for Home score
        var player1Score = document.getElementById("player1-score");
        var player1IncreaseBtn = document.getElementById("player1-increase-btn");
        var player1DecreaseBtn = document.getElementById("player1-decrease-btn");
        
        player1IncreaseBtn.addEventListener("click", function() {
            var currentScore = parseInt(player1Score.textContent);
            player1Score.textContent = currentScore + 1;
            console.log("Player 1 Score:", currentScore + 1);
        });
        
        player1DecreaseBtn.addEventListener("click", function() {
            var currentScore = parseInt(player1Score.textContent);
            if (currentScore > 0) {
                player1Score.textContent = currentScore - 1;
                console.log("Player 1 Score:", currentScore - 1)
            }
        });
        
        // Button functionality for Away score
        var player2Score = document.getElementById("player2-score");
        var player2IncreaseBtn = document.getElementById("player2-increase-btn");
        var player2DecreaseBtn = document.getElementById("player2-decrease-btn");
        
        player2IncreaseBtn.addEventListener("click", function() {
            var currentScore = parseInt(player2Score.textContent);
            player2Score.textContent = currentScore + 1;
            console.log("Player 2 Score:", currentScore + 1);
        });
        
        player2DecreaseBtn.addEventListener("click", function() {
            var currentScore = parseInt(player2Score.textContent);
            if (currentScore > 0) {
                player2Score.textContent = currentScore - 1;
                console.log("Player 2 Score:", currentScore - 1);
            }
        }); 
    
        document.getElementById("save-set-btn1").addEventListener("click", function() {
            const currentSetElement = document.getElementById("set1");
            if (!currentSetElement) {
                console.error("Current set element not found");
                return;
            }
            
            const currentSet = parseInt(currentSetElement.textContent);
            console.log("Current Set:", currentSet);
            
            const player1ScoreElement = document.getElementById("player1-score");
            const player2ScoreElement = document.getElementById("player2-score");
            
            if (!player1ScoreElement || !player2ScoreElement) {
                console.error("Player 1 or Player 2 score elements not found");
                return;
            }
            
            const player1ScoreValue = parseInt(player1ScoreElement.textContent);
            const player2ScoreValue = parseInt(player2ScoreElement.textContent);
    
            const player1SetScoreElement = document.getElementById(`player1-set${currentSet}`);
            const player2SetScoreElement = document.getElementById(`player2-set${currentSet}`);
            
            if (!player1SetScoreElement || !player2SetScoreElement) {
                console.error("Player 1 or Player 2 set score elements not found for set", currentSet);
                return;
            }
            
            const currentPlayer1SetScore = parseInt(player1SetScoreElement.textContent);
            const currentPlayer2SetScore = parseInt(player2SetScoreElement.textContent);
        
            player1SetScoreElement.textContent = currentPlayer1SetScore + player1ScoreValue;
            player2SetScoreElement.textContent = currentPlayer2SetScore + player2ScoreValue;
        
            console.log("Saved Set:", currentSet);
            console.log("Player 1 Set Score:", currentPlayer1SetScore + player1ScoreValue);
            console.log("Player 2 Set Score:", currentPlayer2SetScore + player2ScoreValue);
            
            // Reset main scores to zero
            player1ScoreElement.textContent = "0";
            player2ScoreElement.textContent = "0";
        });    
    });

    document.addEventListener("DOMContentLoaded", function() {
        var playBtn = document.getElementById("play-btn");
        var pauseBtn = document.getElementById("pause-btn");
        var stopBtn = document.getElementById("stop-btn");
        
        playBtn.addEventListener("click", startTimer);
        pauseBtn.addEventListener("click", stopTimer);
        stopBtn.addEventListener("click", resetTimer);
        
        let timer;
        let seconds = parseInt(localStorage.getItem('time1'), 10) || 0;
        var PlaySoundSrc = "{% static 'audio/play&pause.wav' %}";
        var alertSoundSrc = "{% static 'audio/alert.mp3' %}";
        var alertSound = new Audio(alertSoundSrc); // Creating the Audio object
        var playSound = new Audio(PlaySoundSrc); // Creating the Audio object

        function displayTime1() {
            const minutesPart = Math.floor(seconds / 60).toString().padStart(2, '0');
            const secondsPart = (seconds % 60).toString().padStart(2, '0');
            document.getElementById('time-display1').textContent = `${minutesPart}:${secondsPart}`;
        }
        
        function startTimer() {
            playSound.play();
            if (!timer) {
                timer = setInterval(function () {
                    seconds++;
                    displayTime1();
                    localStorage.setItem('time1', seconds);
        
                    if (seconds >= 120) { // Change this to match the desired duration
                        stopTimer();
                        alertSound.play();
                    }
                }, 1000);
            }
        }
        
        function stopTimer() {
            playSound.play();
            clearInterval(timer);
            timer = null;
        }
        
        function resetTimer() {
            alertSound.play();
            stopTimer();
            seconds = 0;
            displayTime1();
            localStorage.setItem('time1', seconds); // Ensure the reset time is saved to localStorage
        }

// Define team names
        var playerNames = {
            "player1Name": document.getElementById("player1-selection1").options[document.getElementById("player1-selection1").selectedIndex].textContent.trim(),
            "player2Name": document.getElementById("player2-selection2").options[document.getElementById("player2-selection2").selectedIndex].textContent.trim()
        };

        function updateLocalStorage1() {
            var timeoutCounters = {
                "player1": parseInt(document.getElementById("player1-timeout").textContent),
                "player2": parseInt(document.getElementById("player2-timeout").textContent)
            };

            var set1Score = parseInt(document.getElementById("set1").textContent);

            var player1Scores = {
                "score": parseInt(document.getElementById("player1-score").textContent),
                "set1": parseInt(document.getElementById("player1-set1").textContent),
                "set2": parseInt(document.getElementById("player1-set2").textContent),
                "set3": parseInt(document.getElementById("player1-set3").textContent),
                "set4": parseInt(document.getElementById("player1-set4").textContent),
                "set5": parseInt(document.getElementById("player1-set5").textContent)
            };

            var player2Scores = {
                "score": parseInt(document.getElementById("player2-score").textContent),
                "set1": parseInt(document.getElementById("player2-set1").textContent),
                "set2": parseInt(document.getElementById("player2-set2").textContent),
                "set3": parseInt(document.getElementById("player2-set3").textContent),
                "set4": parseInt(document.getElementById("player2-set4").textContent),
                "set5": parseInt(document.getElementById("player2-set5").textContent)
            };

            var data = {
                "playerNames": playerNames,
                "timeoutCounters": timeoutCounters,
                "set1Score": set1Score,
                "player1Scores": player1Scores,
                "player2Scores": player2Scores,
            };

            localStorage.setItem('yourDataKey1', JSON.stringify(data));
        }

        function loadStaticData1() {
            const staticDataIds = [
                'player1-selection1',
                'player2-selection2',
                'category'
            ];

            staticDataIds.forEach(function (id) {
                const data = localStorage.getItem(id) || '';
                const element = document.getElementById(id);

                if (element) {
                    if (element.tagName === 'SELECT') {
                        // For select elements, set the selected text of the option
                        const selectedOption = Array.from(element.options).find(option => option.text === data);
                        if (selectedOption) {
                            selectedOption.selected = true;
                        }
                    } else {
                        // For non-select elements, set the text content
                        element.textContent = data;
                    }
                }
            });
        }

        function setupEventListeners1() {
            const inputIds = [
                "set-increase-btn1",
                "set-decrease-btn1",
                "player1-increase-btn",
                "player1-decrease-btn",
                "player2-increase-btn",
                "player2-decrease-btn",
                "save-set-btn1",
                "player1-selection1",
                "player2-selection2",
                "category"
            ];

            inputIds.forEach(function (id) {
                document.getElementById(id).addEventListener('click', updateLocalStorage1);
            });

            const selectIds = [
                'player1-selection1',
                'player2-selection2',
                'category'
            ];

            selectIds.forEach(function(id) {
                document.getElementById(id).addEventListener('change', function(e) {
                    // For select elements, save the selected text of the option
                    localStorage.setItem(id, e.target.options[e.target.selectedIndex].text);
                    // Update team names if it's team-selection1, team-selection2, or category
                    if (id === 'player1-selection1' || id === 'player2-selection2' || id === 'category') {
                        if (id === 'category') {
                            playerNames.category = e.target.options[e.target.selectedIndex].text.trim();
                        } else {
                            playerNames[id === 'player1-selection1' ? 'player1Name' : 'player2Name'] = e.target.options[e.target.selectedIndex].textContent.trim();
                        }
                    }
                    updateLocalStorage1();
                });
            });
        }

        // Event listeners for buttons and elements
        document.getElementById("play-btn").addEventListener("click", startTimer);
        document.getElementById("pause-btn").addEventListener("click", stopTimer);
        document.getElementById("stop-btn").addEventListener("click", resetTimer);

        // Initialize
        loadStaticData1();
        setupEventListeners1();
        updateLocalStorage1();
        displayTime1();

    });

    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('reset-button1').addEventListener('click', function() {
            // Reset UI elements on the scoreboard page
            document.getElementById('player1-score').textContent = '0';
            document.getElementById('player1-timeout').textContent = '0';
            document.getElementById('player2-score').textContent = '0';
            document.getElementById('player2-timeout').textContent = '0';
            document.getElementById('set1').textContent = '0';
            document.getElementById('player1-set1').textContent = '0';
            document.getElementById('player1-set2').textContent = '0';
            document.getElementById('player1-set3').textContent = '0';
            document.getElementById('player1-set4').textContent = '0';
            document.getElementById('player1-set5').textContent = '0';
            document.getElementById('player2-set1').textContent = '0';
            document.getElementById('player2-set2').textContent = '0';
            document.getElementById('player2-set3').textContent = '0';
            document.getElementById('player2-set4').textContent = '0';
            document.getElementById('player2-set5').textContent = '0';
    
            // Clear localStorage for each score and state
            localStorage.removeItem('player1-score');
            localStorage.removeItem('player1-timeout');
            localStorage.removeItem('player2-score');
            localStorage.removeItem('player2-timeout');
            localStorage.removeItem('set1');
            localStorage.removeItem('player1-set1');
            localStorage.removeItem('player1-set2');
            localStorage.removeItem('player1-set3');
            localStorage.removeItem('player1-set4');
            localStorage.removeItem('player1-set5');
            localStorage.removeItem('player2-set1');
            localStorage.removeItem('player2-set2');
            localStorage.removeItem('player2-set3');
            localStorage.removeItem('player2-set4');
            localStorage.removeItem('player2-set5');

            localStorage.setItem('resetTrigger', 'reset');
        });
    });

    document.getElementById('save-match-btn1').addEventListener('click', function() {

        const initialData1 = {
            player1Selection1: document.getElementById('player1-selection1').options[document.getElementById("player1-selection1").selectedIndex].textContent.trim(),
            player2Selection2: document.getElementById('player2-selection2').options[document.getElementById("player2-selection2").selectedIndex].textContent.trim(),
            player1Timeout: document.getElementById('player1-timeout').textContent,
            player2Timeout: document.getElementById('player2-timeout').textContent,
            player1Set1: document.getElementById('player1-set1').textContent,
            player1Set2: document.getElementById('player1-set2').textContent,
            player1Set3: document.getElementById('player1-set3').textContent,
            player1Set4: document.getElementById('player1-set4').textContent,
            player1Set5: document.getElementById('player1-set5').textContent,
            player2Set1: document.getElementById('player2-set1').textContent,
            player2Set2: document.getElementById('player2-set2').textContent,
            player2Set3: document.getElementById('player2-set3').textContent,
            player2Set4: document.getElementById('player2-set4').textContent,
            player2Set5: document.getElementById('player2-set5').textContent
        };
    
        // Log the initial values
        console.log('Initial Data:', initialData1);

        localStorage.setItem('initialMatchData1', JSON.stringify(initialData1));
        alert('Form data saved.');
    });
</script>
</body>
</html>
