{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSSPE Scoring System</title>
    <link rel="icon" type="image/png" href="{% static 'img/selogo.png' %}">
    <link rel="stylesheet" href="{% static 'css/details.css' %}">
</head>
<body> 
<header>
        <div class="navbar">
        <div class="logo">
            <img src="{% static 'img/csspe.png' %}" alt="Logo">
        </div>
        <div class="nav-links">
            <ul>
                <li><a href="/sports">Sports</a></li>
                <li><a href="#">About Us</a></li>
            </ul>
        </div>
    </div> 
    <div class="sidebar">
        <h5>Scoring Board</h5>
        <hr class="bold-horizontal-line"> <!-- Apply a class to style the horizontal line -->
        <ul>
            <li><a href="/single_tennis_scoreboard">Singles Scoreboard</a></li>
            <li><a href="/double_tennis_scoreboard">Mixed/Doubles Scoreboard</a></li>
        </ul>
        <h5>Match Sheet</h5>
        <hr class="bold-horizontal-line"> <!-- Apply a class to style the horizontal line -->
        <ul>
            <li><a href="/single_tennis_sheet">Single Scoresheet</a></li>
            <li><a href="/double_tennis_sheet">Mixed/Doubles Scoresheet</a></li>
        </ul>
        <h5>Display</h5>
        <hr class="bold-horizontal-line"> <!-- Apply a class to style the horizontal line -->
        <ul>
            <li><a href="/single_tennis_display">Single Score Display</a></li>
            <li><a href="/double_tennis_display">Mixed/Doubles Score Display</a></li>
        </ul>
        <h5>History</h5>
        <hr class="bold-horizontal-line"> <!-- Apply a class to style the horizontal line -->
        <ul>
            <li><a href="/match_history">Game</a></li>
        </ul>
        <h5>Randomizer</h5>
        <hr class="bold-horizontal-line"> <!-- Apply a class to style the horizontal line -->
        <ul>
            <li><a href="/tennis_bracket">Create</a></li>
        </ul>
        <h5>Sport Data</h5>
        <hr class="bold-horizontal-line"> <!-- Apply a class to style the horizontal line -->
        <ul>
            <li><a href="/tennis_sport_data">Add Information</a></li>
        </ul>
        <h5>Logout</h5>
        <hr class="bold-horizontal-line"> <!-- Apply a class to style the horizontal line -->
        <ul>
            <li><a href="/logout">logout</a></li>
        </ul>
    </div>
</header>    
<h1>School Year: {{ school_year.start_year }}-{{ school_year.end_year }}</h1>
<div class="container">
    <h3>Tennis Players</h3>
    <table>
    <thead>
    <tr>
        <th>Player Name</th>
        <th>Team Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for player in players %}
    <tr>
        <td>{{ player.player_name }}</td>
        <td>{{ player.collegeID }}</td>
        <td>
            <a href="{% url 'myapp:edit_tennis_player' player.playerID %}" class="edit-btn">Edit</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    <a href="{% url 'myapp:add_tennis_player' year_id=school_year.pk %}" class="add-btn">Add Player</a>
</div>

<div class="container">
<h3>Coaches</h3>
<table>
<thead>
<tr>
    <th>Coach's Name</th>
    <th>Actions</th>
</tr>
</thead>
<tbody>
{% for coach in coaches %}
<tr>
    <td>{{ coach.coach_name }}</td>
    <td>
        <a href="{% url 'myapp:edit_tennis_coach' coach.coachID %}" class="edit-btn">Edit</a>
    </td>
</tr>
{% endfor %}
</tbody>
</table>
<a href="{% url 'myapp:add_tennis_coach' year_id=school_year.pk %}" class="add-btn">Add Coach</a>
</div>
    
<div class="container">
        <h3>Umpires</h3>
        <table>
        <thead>
        <tr>
            <th>Umpire Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for umpire in umpires %}
        <tr>
            <td>{{ umpire.umpire_name }}</td>
            <td>
                <a href="{% url 'myapp:edit_tennis_umpire' umpire.umpireID %}" class="edit-btn">Edit</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
        <a href="{% url 'myapp:add_tennis_umpire' year_id=school_year.pk %}" class="add-btn">Add Umpire</a>
    </div>
</body>
</html>
